# Comprehensive Python_Guide

## Basic syntax

## Data Types

### 1. Interger(int)

A whole number that can either be positive, negative, and do not contain any fractional part

In [2]:
x = 2
age = 16
Temperature = -16

### 2. Float

A float, or "floating-point number," is a number that has a decimal point. It can represent both positive and negative numbers and is often used for precise calculations.

Floats are used when more precision is needed than whole numbers can provide, such as in scientific calculations, measurements, and financial computations.

In [3]:
pi = 3.143
weight = 65.3

### 3. Strings

A string is a sequence of characters enclosed in single (') or double (") quotes. Strings are used to represent text data.

Strings are used for handling text, such as names, addresses, or any other textual information. They are also used in user interfaces and input/output operations.

In [6]:
Name = "Bimmybrown"
Sex = "Female"
School = "Unity"

#### Common string operations

1. addition (+)
2. repititive (*)
3. Indexing - to access a particular character
4. slicing - to extract a substring using slicing syntax [start:end:step]
5. len() - to return the length of a string

In [10]:
# addition 
profile = Name+ " " +Sex+ " "+School
profile

'Bimmybrown Female Unity'

In [16]:
#repititive
name_on_repeat = Name*3
name_on_repeat

'BimmybrownBimmybrownBimmybrown'

In [19]:
#repititive with space
name_on_repeat = (Name + " ") *3
name_on_repeat

'Bimmybrown Bimmybrown Bimmybrown '

In [27]:
#indexing
Name[:3]
Name[3]
Name[:-3]
Name[-3]

'm'

In [34]:
#slicing 
Name[2:6] #start:end
Name[2:9:2] # start:end:step
Name[2:9:1] 
Name[2:9]

'mmybrow'

#### Common string methods
1. string.upper() #to convert string characters to uppercase
2. string.lower() #to convert string characters to lowercase
3. string.capitalize() #to capitalize the first letter of a whole string
4. string.title() #to capitalize the first letter of each strring
5. string.find()  #to find a/some particular characters
6. string.replace() #to replace a/some particular characters
7. string.strip() #to remove trailing spaces
8. string.rstrip() #to remove trailing spaces from the right
9. string.lstrip() #to remove trailing spaces from the left
10. string.split(" ", ;)
11. " ".join(string) #to join two strings
12. string.startswith()
13. string.endswith()

In [48]:
#variables
Name = "Bimmybrown"
Sex = "Female"
School = "Unity"
profile = "Bimmybrown Female Unity"
name_on_repeat = "Bimmybrown Bimmybrown Bimmybrown"

In [47]:
#lower,upper, title and capitalize methods
Name.lower()
Name.upper()
Name.capitalize()
profile.lower()
profile.capitalize()
profile.title()

'Bimmybrown Female Unity'

In [52]:
#find and replace 
Name.find("m")
Name.replace("m","n")
Name.replace("n","m")

'Bimmybrowm'

In [62]:
#split and join
profile.split(" ")
",".join([School]*2)

'Unity,Unity'

In [71]:
#startwith and endwith
profile.startswith("Bimmybrown")
Name.endswith("n")

True

#### Methods to check string properties
1. string.isalnum()- Returns True if the string contains only alphanumeric characters
2. string.isalpha() - Returns True if the string contains only alphabetic characters
3. string.isdigit()-  Returns True if the string contains only digits
4. string.isspace() - Returns True if the string contains only whitespace characters or empty

In [37]:
#variables
passkey="abdf3450"
passcode="234587"
password="wehjuuhbs0"

In [6]:
passkey.isalnum()
password.isdigit()
password.isalpha()

True

#### Built in Functions that works with strings
1. len(string) - the return the length of character
2. str(data) - to convert data type to string
3. ord() -return the unicode of a string
4. chr() - returns the character value of a unicode
5. min() - returns smallest character of a string based on unicode value
6. max() - returns largest character of a string based on the unicode value
7. sorted() - returns a  sorted list of character
8. any() - returns true if atleast one character is non-empty or non-zero
9. all() - returns true if all the character is non-empty or non-zero
10. enumerate() - returns an iterator of tuples containing an index and the corresponding value
11. reversed() - returns an iterator that goes through the string in reverse order
12. format() - formats a string by replacing a placeholders with value
13. input() - Reads a line of text from user input (useful for interactive programs)

In [9]:
len(passkey)
int(passcode)
str(passcode)

'234587'

In [19]:
#ord(), chr()
ord('D')
ord('c')
chr(99)
chr(68)

'D'

In [23]:
#min(),max()
min(password)
max(password)

In [24]:
#sorted
sorted(password)
sorted(password,reverse=True)

['b', 'e', 'h', 'h', 'j', 's', 'u', 'u', 'w']

In [46]:
#reverse
reversed(password)
''.join(reversed(password))

In [50]:
#enumerate
for index,char in enumerate(password):
    print(index,char)

0 w
1 e
2 h
3 j
4 u
5 u
6 h
7 b
8 s
9 0

In [53]:
#format
age = "I am {} years old"
age.format("20")

'I am 20 years old'

In [56]:
#input
Username= input("Enter your name:")
print(f"My name is {Username}")

Enter your name: Pelumi

My name is Pelumi

#### Formatting strings
1. String interpolation (f-string)
2. Format()
3. Old style using %

In [68]:
#string interpolation
Name = "Bimmybrown"
Sex = "Female"
School = "Unity"
print(f"my name is {Name}, I am {Sex} and I attend {School} school")

my name is Bimmybrown, I am Female and I attend Unity school

In [69]:
#format()
profile = "my name is {}, I am {} and I attend {} school"
profile.format(Name,Sex,School)

"my name is {}, I am {} and I attend {} school".format(Name,Sex,School)

'my name is Bimmybrown, I am Female and I attend Unity school'

In [70]:
#Old stlye using %

profile = "my name is %s, I am %s and I attend %s school." %(Name,Sex,School)
profile

'my name is Bimmybrown, I am Female and I attend Unity school.'